<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @order.id %>

    <%= @order.email %>

    <% @items.each do |item| %>
      <%= render 'item', item: item %>
    <% end %>
  </body>
</html>